body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff5e6;
    margin: 0;
    line-height: 1.6;
    overflow-x: hidden
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd
}

.btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #3498db;
    color: #fff;
    border: 0;
    border-radius: 8px;
    cursor: pointer;

    /* transition: transform .3s ease */

             /* or */
            
 transition: transform .3s ease, background-color .3s ease, box-shadow .3s ease

}

.btn:hover {
    background-color: #2980b9;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1)
}

.box-transition {
    width: 100px;
    height: 100px;
    background-color: #f39c12;
    border-radius: 8px;
    transition: all .5s ease
}

.box-transition:hover {
    background-color: #e67d22e0;
    transform: scale(1.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2)
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all .8s ease-in;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0)
}

h2 {
    font-size: 3rem;
    color: #333
}

p {
    color: #666;
    max-width: 600px;
    text-align: center
}