.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 50px auto;
}

.cards {
  padding: 20px;
  background-color: green;
  color: wheat;
/* flex: flex-grow flex-shrink flex-basis( defines the size of cards for all ) */
  flex:   1          1           250px;

}

.cards h1{
  color: yellowgreen;
}

.head {

  position: sticky;
  height: 100px;
  width: clamp(150px, 100%, 1200px);
  background-color: red;
  color: wheat;
  margin: 50px 20px;
  padding: 20px 0px;
  text-align: center;
  font-size: larger;


}
